/* TAGs */

/* Classes */
.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

/* Kinships */
.card-container h2 {
  color: var(--title-color-form);
  margin: 20px 0 10px;
  text-decoration: underline;
}

.card-container h3 {
  font-weight: 500;
  margin: 0 0 10px;
}

.card-container h4 span {
  text-decoration: underline;
}

.card-container h4 {
  width: 100%;
}
