/* TAGs */

/* Classes */
.main-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title-main {
  color: var(--title-color-form);
  margin: 0 0 10px;
  text-shadow: 1px 1px 1px rgb(251, 251, 251);
}

.btn-article-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 10px;
  width: 40%;
}

/* Kinship */
.btn-article-container button {
  background-color: var(--bg-color-body);
}
