/* TAGs */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Classes */
.title-main {
  color: var(--title-color-form);
  margin: 0 0 10px;
  text-shadow: 1px 1px 1px rgb(251, 251, 251);
}
