form {
  align-items: center;
  background-color: var(--bg-color-form);
  border: 1px solid var(--border-color-form);
  border-radius: 15px;
  box-shadow: 3px 3px 5px var(--border-color-form);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 10% 0;
}

h1 {
  color: var(--title-color-form);
}

label {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  width: 80%;
}

input {
  background-color: var(--bg-color-form);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--title-color-form);
  font-size: large;
  padding: 0 10px;
}

/* Classes */
.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
