:root {

  /* body */

  --bg-color-body: rgb(246, 221, 180);

  /* form */

  --bg-color-form: rgb(237, 224, 201);

  --border-color-form: rgba(0, 0, 0, 0.5);

  --title-color-form: rgba(0, 0, 0, 0.7);
}
